* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: sans-serif;

    /* Debugging */
    /* border-style: solid;
    border-width: 1px;
    border-color: red; */
}

.container {
    display: flex;
    gap: 20px;

    margin-right: 0px;
    transition: margin-right .5s;
    padding: 40px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    box-shadow: 0px 0px 5px 1px lightgray;
    border-radius: 15px;
    padding: 20px;

    width: 300px;
}

form > div > label {
    display: block;
}

form > div {
    display: flex;
    flex-direction: column;
}

form > fieldset {
    padding: 10px;
    border-radius: 15px;
}

.toggle-units {
    background-color: coral;
}

#weather-search, #start-date, #end-date {
    padding: 7px;
    border-radius: 15px;
}

.weather-today .title {
    text-align: center;
    font-size: 2rem;
}

button {
    padding: 10px 20px;
    color: white;
    background-color: teal;
    border-style: none;
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 250px;
    height: 200px;
    box-shadow: 0px 0px 5px 1px lightgray;
    border-radius: 15px;
    padding: 20px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.weather-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px gray;
}

.selected-card {
    box-shadow: 0px 0px 20px 1px gray;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.card-header .condition {
    font-size: 1.4rem;
    text-align: center;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
    transition: 0.5s;

    box-shadow: 0px 0px 5px 1px lightgray;
}

.sidebar-item {
    border-style: dashed;
    border-width: 2px;
    border-color: darkgray;
    padding: 10px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid darkgray;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}